input.date-filter {
    border: none;

    &:focus {
        outline: none;
    }

    &.mobile {
        width: 0;
        background: transparent;
    }

    &.desktop {
        background-color: transparent;
        color: var(--filter-fg-color);
        width: 130px;
        font-size: 16px;
        margin-left: 0.4em;

        &::-webkit-calendar-picker-indicator,
        &::-webkit-calendar-clear-button {
            color-scheme: var(--color-scheme);
        }
    }
}

.button.is-active-filter .date-filter.desktop {
    color: var(--filter-active-fg-color);

    &::-webkit-calendar-picker-indicator,
    &::-webkit-calendar-clear-button {
        color-scheme: dark;
    }
}

span.date-text {
    margin-left: 0.4em;
}

.button .icon-calendar::before {
    margin-left: 0;
    margin-right: 0;
}
