.buttons .button,
.buttons.has-addon .button,
.fih-button {
    min-width: 45px;

    background-color: var(--filter-bg-color);
    border-color: var(--filter-border-color);
    color: var(--filter-fg-color);

    &:focus,
    &:hover,
    &:active,
    &:focus:hover {
        z-index: 1;

        background-color: var(--filter-bg-hover-color);
        border-color: var(--filter-border-hover-color);
        color: var(--filter-fg-color);
    }

    &.is-active-filter {
        background-color: var(--filter-active-bg-color);
        border-color: var(--filter-active-border-color);
        color: var(--filter-active-fg-color);

        &:hover,
        &:focus {
            background-color: var(--filter-active-bg-hover-color);
            border-color: var(--filter-active-border-hover-color);
            color: var(--filter-active-fg-color);
        }
    }
}
