@import 'bulma/sass/layout/section.sass';

.section {
  padding: 1rem 1rem;

  &.no-mobile-padding {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 480px) {
  .section.no-mobile-padding {
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width: 1023px) {
  .notification {
    padding: 1rem;
    border-radius: 0;
  }
}

.loading-indicator {
  margin-bottom: 3rem;
}

@keyframes progress-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes progress-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.stream-progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 9999px;
  display: block;
  height: 0.4rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
  max-width: 800px;
  margin-top: 0;

  &::-webkit-progress-bar   { background-color: var(--color-gray-1); }
  &::-webkit-progress-value { background-color: var(--color-green); }
  &::-moz-progress-bar      { background-color: var(--color-green); }

  animation: progress-in 0.3s ease forwards;

  &.is-hidden {
    opacity: 0;
    animation: none;
  }

  &.is-fading {
    animation: progress-out 0.3s ease forwards;
  }
}
