.matchday-anchor {
    color: var(--matchday-anchor-color);

    &.disabled,
    &.disabled:hover {
        cursor: initial;
        color: var(--matchday-anchor-disabled-color);
    }

    &:hover {
        color: var(--matchday-anchor-hover-color);
    }
}

.prev {
    i::before {
        margin-right: 0;
    }
}

.next {
    i::before {
        margin-left: 0;
    }
}
