.matchdetails {
    margin-left: 22px;
    font-size: 15px;

    .detail {
        margin-bottom: 5px;
        a {
            color: #9C3;
        }
        span {
            margin-left: 10px;
        }
    }
}
