.matchdetails {
    margin-left: 22px;
    font-size: 15px;

    .detail {
        margin-bottom: 5px;

        a {
            color: var(--filter-active-bg-color);

            &:hover {
                color: var(--filter-active-bg-hover-color);
            }
        }

        span {
            margin-left: 10px;
        }
    }
}
