.navbar-item {
    button {
        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        border: none;
        background: none;
        padding-right: 100%;
        text-align: left;
        cursor: pointer;

        &:hover {
            background-color: #fafafa;
            color: #000;
        }

        &.navbar-link {
            font-size: 17px;
            &::after {
                border-color: #9C3;
            }
            &.arrow-up::after {
                transform: rotate(135deg) translate(0.25em, -0.25em);
            }
        }
        &.navbar-item {
            font-size: 14px;
        }
    }
}
