.field {

    .input {
        width: 125px;

        &::-webkit-inner-spin-button {
            color-scheme: var(--color-scheme);
        }
    }

    .button.zip-btn {
        background-color: var(--filter-active-bg-color);
        border-color: var(--filter-active-border-color);
        color: var(--filter-active-fg-color);
        z-index: 2;

        &:hover {
            background-color: var(--filter-active-bg-hover-color);
            text-decoration: underline;
        }
    }
}
